{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,

  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "singleQuote": false,
        "insertPragma": false,
        "endOfLine": "auto",
        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
